@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fjalla+One&display=swap');
body {
  background-color: #B8860B;
}
#dragonball {
  margin: auto;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 25%;
}
.important {
  background-color:#B8860B;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 50px;
  color:#191970;
  padding-top: 30px;
  padding-bottom: 30px;
}
article {
  background-color: #B8860B;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.images {
  background-color: black;
  text-align: center;
  color: white;
}
#special {
  background-color: #B8860B;
}
.box {
  background-color: #B8860B;
  height: 900px;
  width: 300px;
  padding-top: 30px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 100px;
}
.content {
  display: flex;
}
footer {
  clear: right;
  background-color:black;
  color:#FFF5EE;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}
nav {
  margin-bottom: 100px;
  margin-top: 30px;
}
#nav1 {
  color:#20B2AA;
}
#nav2 {
  color:#20B2AA;
}
