@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fjalla+One&display=swap');
body {
  background-color: #B8860B;
}
header {
  background-color:black;
  color: white;
  font-family: 'Bree Serif', serif;
  padding: 10px;
  margin-bottom: 80px;
}
.grid-container {
        display: grid;
}
.grid-item-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 20px;
}
.grid-item-2 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-right: 20px;
      }
li {
        display: inline-block;
        width: 40%;
        text-align: right;
}
header nav a {
        color: white;
        font-family: 'Bree Serif', serif;
        font-size: 27px;
}
#dragonball {
  margin: auto;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 25%;
}
.important {
  background-color:#B8860B;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 50px;
  color:#191970;
  padding-top: 30px;
  padding-bottom: 30px;
}
article {
  background-color: #B8860B;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.images {
  background-color: black;
  text-align: center;
  color: white;
  padding-bottom: 50px;
  padding-top: 40px;
}
.box {
  background-color: #B8860B;
  height: 900px;
  width: 300px;
  padding-top: 30px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 20px;
}
.content {
  display: flex;
}
footer {
  background-color:black;
  color:#FFF5EE;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  margin-top: 100px;
}
.nav-footer{
  margin-bottom: 100px;
  margin-top: 30px;
}
#nav1 {
  color:#20B2AA;
}
#nav2 {
  color:#20B2AA;
}
.box:hover {
  transform:scale(1.5);
  overflow: auto;
  transition: transform 1s;
}
section img:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.box:hover:nth-child(odd) {
  background-color:#F0FFFF;
  padding: 5rem;
}
.box:hover:nth-child(even) {
  background-color:#FAEBD7;
  padding: 5rem;
}
article:hover {
  background-color:#F0FFFF;
  transition: 0.5s;
  overflow: auto;
}
